html, body {
    height: 100%;    
}
body {
    background: #f4f5f7;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;    
}

.content-body, .content-body > div {
    height: 100%;
}

.navbar {
    background: #495057!important;
}

.navbar-brand {
    padding: .75rem;
    font-size: 1rem;    
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 64px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.toplink {
    color:white;
    cursor: pointer;
}

.sidelink {
    color:black;
    cursor: pointer;
}

.sidelink:hover, .toplink:hover {
    color:gray;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidelink .fas {
    width:20px;
}

input:required:invalid {
    outline: none;
}

.btn-primary {
    background: #1779ba;
}

.btn-primary:hover{
    background:#14679e;
}

[role="main"] {
    padding-top: 54px;
    background: white;
}

main > div:first-child {
    padding-top:10px;    
}